---
import { Image } from "astro:assets";
import { ICONS_ENUM } from "../icons/listIcons";
import Globe from "../icons/Globe.astro";

import ProfilePhoto from "@/db/profile.avif";
interface Props {
  info: {
    name: string;
    description: string;
    address: {
      name: string;
      url: string;
    };
    contact: {
      name: string;
      url: string;
      icon: string;
    }[];
  };
  english?: boolean;
}

const {
  info: { name, description, address, contact },
} = Astro.props;
---

<section
  class="flex flex-row w-full gap-7 max-sm:gap-4 items-center justify-between print:mt-[7%]"
>
  <div class="w-full">
    <h1 class="text-5xl font-semibold pb-2 max-sm:text-xl max-sm:p-0">
      {description}
    </h1>
    <h2
      class="text-4xl text-gray-700 hover:text-gray-800 pb-1 max-sm:text-sm max-sm:p-0"
    >
      {name}
    </h2>
    <a
      href={address.url}
      class="text-gray-500 hover:text-gray-600 inline-flex items-center gap-1 hover:underline-offset-4 hover:underline text-lg max-sm:text-xs"
    >
      <Globe class="aspect-square w-[10%]" />
      <i>
        {address.name}
      </i>
    </a>
    <div class="m-0 p-0 print:hidden">
      {
        contact.map((contact) => {
          const Icon = ICONS_ENUM[contact.icon];

          if (contact.icon === "Globe") return;

          return (
            <a
              href={contact.url}
              target="_blank"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-xs font-thin transition-colors size-10 hover:bg-gray-400/70  hover:shadow-xl mr-2 max-sm:size-8 bg-gray-300/80"
              title={contact.name}
              aria-label={contact.name}
              rel="noopener noreferrer"
            >
              <Icon class="size-7 max-sm:size-5" />
            </a>
          );
        })
      }
    </div>
    <div class="hidden flex-col print:flex">
      {
        contact.map((contact) => {
          return (
            <a
              href={contact.url}
              target="_blank"
              class="hidden text-gray-700 print:inline-flex items-center"
              title={contact.name}
              rel="noopener noreferrer"
            >
              {contact.url.startsWith("mail")
                ? contact.url.split(":")[1]
                : contact.url.includes("//")
                  ? contact.url.split("//")[1]
                  : contact.url}
            </a>
          );
        })
      }
      <a
        href={contact[0].url}
        target="_blank"
        class="hidden text-gray-700 print:inline-flex items-center"
        title={contact[0].name}
        rel="noopener noreferrer"
      >
      </a>
    </div>
  </div>
  <span
    class="aspect-square overflow-hidden rounded-2xl shadow-xl w-1/2 max-sm:w-3/4 lg:w-1/5 max-w-48 mr-5 max-sm:m-0 print:hidden"
  >
    <Image
      src={ProfilePhoto}
      alt="profile_image"
      loading="eager"
      decoding="async"
    />
  </span>
</section>
