---
import { ICONS_ENUM } from "../icons/listIcons";

interface Props {
  skills: Array<{
    name: string;
    keyword?: string;
    url?: string;
  }>;
  english?: boolean;
}

const key = new Set<string>([]);

const { skills, english } = Astro.props;
---

<section class="mt-8 max-sm:mt-4">
  <h2
    class="text-3xl font-semibold mb-4 max-sm:text-xl max-sm:mb-2"
    id="skills"
  >
    {english ? "Skills" : "Habilidades"}
  </h2>
  <ul class="flex flex-wrap text-2xl print:hidden">
    {
      skills.map((skill) => {
        key.add(skill.name);
        const Icon = ICONS_ENUM[skill.name];
        const classBasic =
          "inline-flex px-4 py-2 whitespace-nowrap transition-colors text-sm font-semibold items-center justify-center max-sm:text-xs max-sm:px-2 max-sm:py-2 hover:shadow-xs print:shadow-none";

        const classDashed =
          "bg-gray-200 m-2 max-sm:m-1 hover:bg-gray-100 rounded-xl";
        const classSolid =
          "bg-gray-300 m-2 hover:bg-gray-200 max-sm:m-1 rounded-xl ";

        return (
          <li title={`About ${skill.name}`}>
            <a
              href={skill.url ?? ""}
              aria-label={`About ${skill.name}`}
              target="_blank"
              rel="noopener noreferrer"
              class={`${classBasic}  ${
                skill.keyword && key.has(skill.keyword)
                  ? classDashed
                  : classSolid
              }`}
            >
              <Icon class="mr-2 w-[50%] print:hidden" />
              {skill.name}
            </a>
          </li>
        );
      })
    }
  </ul>
  <ul
    class="hidden grid-cols-4 gap-4 print:grid print:gap-1 list-disc ml-6 text-lg"
  >
    {
      skills.map((skill) => {
        return (
          <li title={`About ${skill.name}`}>
            <a
              href={skill.url ?? ""}
              aria-label={`About ${skill.name}`}
              target="_blank"
              class="text-pretty"
              rel="noopener noreferrer"
            >
              {skill.name}
            </a>
          </li>
        );
      })
    }
  </ul>
</section>
